body {
	font-family: Helvetica, sans-serif;
	font-size: 1.1rem;
}

.card {
	width: 250px;
	height: 450px;
	overflow: hidden;
	border: 3px solid #000;
	border-radius: 25px;
	margin: 10px;
	float: left;
}

.card div {
	margin: 2px;
	padding: 0 5px;
}

.card h2 {
	text-align: center;
	margin: 0;
	margin-bottom: 3px;
	padding: 0;
	background: rgb(0,0,0,0.2);
}

.rank, .activation-time, .range, .duration {
	font-size: 0.9rem;
	line-height: 1.1rem;
}

.description, .higher-level {
	font-size: 0.7rem;
	line-height: 0.9rem;
}